# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4c48b83b4fb38f30b7c9fbd6c9d8d589e33bf8959e418056c09e437511115251b178d6103751cbe9457a04b258af18eaaaa8bb4171abd9e27af55c1bda93b2d5

test:
  secret_key_base: 445776d1a94252e4cc7ecb0c9212c8ce23625e812cfc64eb0ba1bbe44f8e52daec16f3c1a95f8abaeb92c86902c343fb20c6155952f7059e8f53884e434ddbb0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
