<footer class="footer">
  <small>
    <%= t("michael_hartl").html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= t("new").html_safe %></li>
    </ul>
  </nav>
</footer>
